#banner
    .banner_content
        %h1 File Cabinet
        %p Your life's work. Organized, always.
        %button= link_to "Enter", new_user_registration_path

#callouts
    .callout_inner
        .wrapper
            .callout_inner
                %h2 Organize
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at semper quam. Duis pulvinar, urna et scelerisque eleifend, lorem justo varius risus, id cursus leo ex in magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean pharetra iaculis porttitor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla consectetur erat vel massa tristique, quis malesuada leo luctus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam iaculis magna vitae ligula suscipit porttitor.

#bottom_cta
    .wrapper
        %h2 Go Ahead!
        %br
        %button= link_to "Join Now", new_user_registration_path